{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
<div class="block block--page-list">
    <div class="block-content">
        <div class="list list--page-list">
            {% for page in pages %}
                {{ include('@Page/ViewMode/teaser.html.twig', {'item' : page}) }}
            {% endfor %}
        </div>
    </div>
    <div class="block-navigation">
        <ul class="pager">
            {% if navigator.pager > 1 %}
                <li class="page-item"><a href="{{ path('page_list', { 'page' : navigator.pager - 1}) }}">back</a></li>
            {% endif %}
            <li class="pager-item">{{ navigator.pager }}</li>
            {% if navigator.pager * navigator.limit < navigator.total %}
                <li class="page-item"><a href="{{ path('page_list', { 'page' : navigator.pager + 1}) }}">next</a></li>
            {% endif %}
        </ul>
    </div>


</div>
{% endblock %}